.vs/
/.vs/EasyBizPos/v17/.suo
/.vs/EasyBizPos/v17/.wsuo
/.vs/slnx.sqlite
/bin/Debug/EasyBizPos.exe
/bin/Debug/EasyBizPos.pdb
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/EasyBizPos.csproj.AssemblyReference.cache
/obj/Debug/EasyBizPos.csproj.CoreCompileInputs.cache
/obj/Debug/EasyBizPos.csproj.GenerateResource.cache
/obj/Debug/EasyBizPos.exe
/obj/Debug/EasyBizPos.pdb
/obj/Release/EasyBizPos.csproj.AssemblyReference.cache
/.vs/VSWorkspaceState.json
/EasyBizPos.csproj
/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/obj/Debug/EasyBizPos.csproj.FileListAbsolute.txt
/obj/Debug/EasyBizPos.csproj.Up2Date
/.vs/EasyBizPos.csproj.dtbcache.json
